{block content}
<div id="contentWrapper">
{form aboutForm}
<div id="tabs">
    <ul>
        <li><a href="#tab-cz">Česká verze</a></li>
        <li><a href="#tab-en">Anglická verze</a></li>
    </ul>
    <div id="tab-cz">{input onas}</div>
    <div id="tab-en">{input about}</div>
</div>
<div id="formBottomPart" class="ui-widget-content ui-corner-all">{input send}<br class="clear"/></div>
{/form}
</div>