{block content}
<div id="contentWrapper">
<h2>Obchodní podmínky</h2>
{form termsForm}
<div id="tabs">
    <ul>
        <li><a href="#tab-cz">Česká verze</a></li>
        <li><a href="#tab-en">Anglická verze</a></li>
    </ul>
    <div id="tab-cz">
        {input terms_cz}
    </div>
    <div id="tab-en">
        {input terms_en}
    </div>
</div>
<div id="formBottomPart" class="ui-widget-content ui-corner-all">{input send}<br class="clear"/></div>
{/form}
</div>