login: "Přihlásit"
register: "Registrovat"
orders_list: "Seznam objednávek"
edit_profile: "Upravit profil"
logout: "Odhlásit"
hide: "skrýt"
login2: "» Přihlásit"
permanent_login: "Přihlásit trvale"
forgotten_pass: "Zapomenuté heslo"
news: "Novinky"
eshop: "e-shop"
distribution: "Distribuce"
registration: "Registrace"
galery: "Galerie"
team: "Tým"
contact: "Kontakt"
about: "O nás"
partners: "Partneři"
delivery_post: "Dodání a poštovné"
support_us: "Podpořte nás"
links: "Odkazy"
fotogalery: "Fotogalerie"
videogalery: "Videogalerie"
manufacturer: "Výrobce"
login_data: "Přihlašovací údaje"
username: "přihlašovací jméno"
min5char: "minimálně 5 znaků"
fact_detail: "Fakturační údaje"
delivery_if_same: "Dodací adresa (je-li odlišná od fakturační)"
mandatory_fields: "Údaje označené hvězdičkou jsou povinné"
members: "Členové"
edit_address: "Editace adresy"
back: "Zpět"
edit: "upravit"
ptypes:
    transfer: "Převodem na účet (Česká republika)"
    cod_cz: "Dobírkou (Česká republika)"
    cod_sk: "Dobírkou (Slovensko)"
    paypal_eu: Přes paypal v EU"
    paypal_usd: Přes paypal v USD"
shop:
    added_to_basket: "Položka byla přidána do"
    ad_basket: "košíku"
    new_products: "Nové produkty"
    to_basket: "Do košíku"
    list_of_orders: "Seznam objednávek"
    order_number: "Číslo objednávky"
    date: "Datum"
    num_items: "Počet položek"
    summ_price: "Celková cena"
    product_out_of_order: "Produkt je momentálně vyprodán."
    product_unavailable: "Produkt se již neprodává"
    price: "Cena"
    shipping: "Doprava"
    items: "Zboží"
    number: "Počet"
    order: "Objednávka"
    final_price: "Konečná cena včetně poštovného:"
    notice: "Poznámka"
    address_customer: "Adresa příjemce"
    payment_methods: "Způsob platby"
    terms_of_trade: "Obchodní podmínky"
    basket: "Nákupní košík"
    paymet_delivery: "Platba a dodací údaje"
    finish_order: "Dokončení objednávky"
    action: "Akce"
    variant: "Varianta"
    phone: "Telefon"
    email: "E-mail"
    created: "Vloženo"
    pieces: "ks"