login: "Login"
register: "Register"
orders_list: "List of orders"
edit_profile: "Edit profile"
logout: "Logout"
hide: "hide"
login2: "» Login"
permanent_login: "Přihlásit trvale"
forgotten_pass: "Remember me"
news: "News"
eshop: "E-shop"
distribution: "Distribution"
registration: "Registration"
galery: "Gallery"
team: "Team"
contact: "Contact"
about: "About us"
partners: "Partners"
delivery_post: "Delivery and postage"
support_us: "Support us"
links: "Links"
fotogalery: "Photogallery"
videogalery: "Videogallery"
manufacturer: "Manufacturer"
login_data: "Login information"
username: "login"
min5char: "at least 5 characters"
fact_detail: "Billing Information"
delivery_if_same: "Delivery address (if different from billing)"
mandatory_fields: "Fields marked with an asterisk are required"
members: "Members"
edit_address: "Edit address"
back: "Back"
edit: "edit"
ptypes:
    transfer: "Převodem na účet (Česká republika)"
    cod_cz: "COD (Czech republic)"
    cod_sk: "COD (Slovakia)"
    paypal_eu: Paypal in EU"
    paypal_usd: Paypal in USD"
shop:
    added_to_basket: "The item was added to your"
    ad_basket: "shopping cart"
    new_products: "New products"
    to_basket: "Buy"
    list_of_orders: "List of orders"
    order_number: "Order number"
    date: "Date"
    num_items: "Items number"
    summ_price: "Final price"
    product_out_of_order: "Product is out of stock"
    product_unavailable: "Product is not available"
    price: "Price"
    shipping: "Shipping"
    items: "Item"
    number: "Quantity"
    order: "Order"
    final_price: "Final price including postage:"
    notice: "Notice"
    address_customer: "Delivery information"
    payment_methods: "Method of payment"
    terms_of_trade: "Terms of trade are"
    basket: "Shopping cart"
    paymet_delivery: "Payment and shipping"
    finish_order: "Finish order"
    action: "Action"
    variant: "Type"
    phone: "Phone"
    email: "E-mail"
    created: "Created"