{block content}
<div id="content_left_text">
    <h1>{_}Logo{/_}</h1>
    <div class="article_img_box">
    <img alt="logo1" src="/images/logo1.jpg" class="article_img" width="450">
    </div>
    <br/><br/>
    <div class="article_img_box">
    <img alt="logo2" src="/images/logo2.jpg" class="article_img" width="450">
    </div>
</div>