<html>
    <head>
    </head>
    <body>
        <p>
            {$message}
        </p>
        <h3>{$order->NAME}&nbsp;{$order->SURNAME}&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;{$order->EMAIL}<span style="float: right;padding-right: 5px;">{if $order->PAYMENT_TYPE == 1 || $order->PAYMENT_TYPE == 2 || $order->PAYMENT_TYPE == 5}{$order->FINAL_PRICE} Kč{elseif $order->PAYMENT_TYPE == 3}€{$order->FINAL_PRICE}{elseif $order->PAYMENT_TYPE == 4}${$order->FINAL_PRICE}{/if}</span></h3>
        <div>
            <table>
                <tr>
                <td style="padding: 5px;">
                    {$order->NAME} {$order->SURNAME}<br/>
                    {$order->STREET}<br/>
                    {$order->CITY} {$order->ZIP}<br/>
                    {$order->STATE}<br/>
                    <br/>
                    {_messages.shop.phone}:{$order->PHONE}<br/>
                    {_messages.shop.email}:{$order->EMAIL}<br/>
                    {_messages.shop.created}:{$order->EDIT_DATE|date:'%d.%m.%Y %H:%m'}
                </td>
                <td style="vertical-align: top;" colspan="2">
                    <ul>
                        {foreach $products as $product}
                        <li style="list-style: none; background-color: #9AAFE5; padding: 3px;"><a href="{$webaddress}/{$lang}/shop/{$product->URL_CATEGORY}/{$product->URL_NAME}">{$product->NAME}</a><br/>
                            {$product->VARIANT_NAME} | {$product->COUNT}{_ks} | {if $order->PAYMENT_TYPE == 1 || $order->PAYMENT_TYPE == 2 || $order->PAYMENT_TYPE == 5}{$product->PRICE}{_}Kč/Ks{/_}{elseif $order->PAYMENT_TYPE == 3}€{$product->PRICE_EU}{elseif $order->PAYMENT_TYPE == 4}${$product->PRICE_USD}{/if} | {_Celkem} :{if $order->PAYMENT_TYPE == 1 || $order->PAYMENT_TYPE == 2}{$product->COUNT * $product->PRICE}Kč{elseif $order->PAYMENT_TYPE == 3}€{$product->COUNT * $product->PRICE_EU}{elseif $order->PAYMENT_TYPE == 4}${$product->COUNT * $product->PRICE_USD}{/if}</li>
                        {/foreach}
                    </ul>
                    <div style=" list-style: none; background-color: #3484d2; height: 25px; padding-top: 5px; padding-left: 5px;">{_messages.shop.payment_methods}: {if $order->PAYMENT_TYPE == 1}{_ptypes.transfer} ({$paymentCost->PAYMENT_TRA} Kč){elseif $order->PAYMENT_TYPE == 2}{_ptypes.cod_cz} ({$paymentCost->PAYMENT_COD} Kč){elseif $order->PAYMENT_TYPE == 5}{_ptypes.cod_sk} ({$paymentCost->PAYMENT_COD_SK} Kč){elseif $order->PAYMENT_TYPE == 3}{_ptypes.paypal_eu} (€{$paymentCost->PAYMENT_PAYPAL_EU}){elseif $order->PAYMENT_TYPE == 4}{_ptypes.paypal_usd} (${$paymentCost->PAYMENT_PAYPAL_USD}){/if}</div>
                    <div style="list-style: none; background-color: cadetblue; height: 25px; padding-top: 5px; padding-left: 5px;">{_messages.shop.summ_price}: {if $order->PAYMENT_TYPE == 1 || $order->PAYMENT_TYPE == 2 || $order->PAYMENT_TYPE == 5}{$order->FINAL_PRICE} Kč{elseif $order->PAYMENT_TYPE == 3}€{$order->FINAL_PRICE}{elseif $order->PAYMENT_TYPE == 4}${$order->FINAL_PRICE}{/if}</div>
                </td>
            </tr>
            <tr>
                <td style="padding: 3px;" colspan="3">{_messages.shop.notice}:{$order->NOTE}</td>
            </tr>
            </table>
        </div>
    </body>
</html>